@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@if (Permission.IsGranted(RazorClaimsValue.AccessParagraph))
{
    <p>This paragraph is displayed because you fulfilled PolicyName.</p>
}
<p>Use this page to detail your site's privacy policy.</p>
